$small-col: 30px;
$big-col: 70px;
$site-width: 13 * $small-col + 12 * $big-col;
$font-family: Verdana, Geneva, Tahoma, sans-serif;

@mixin container {
    width: $site-width;
    margin-left: auto;
    margin-right: auto;
}

// Colors
$color-white: #fff;
$color-black: #000;
$color-sand: #c7b299;
$color-sand-dark: darken($color-sand, 10%);